/**
 * A bug in babel-node stops --experimental-modules being passed as an argument to nodemon.
 * https://github.com/babel/babel/issues/8148
 */
{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "usage", // <- Another babel bug - should be automatically adding "es6.array.iterator" but isn't
      // "modules": false, <- can uncomment this once babel-node supports --experimental-modules (https://github.com/babel/babel/issues/8148)
      "debug": true
    }]
  ]
}